<!DOCTYPE html>
<html lang="zxx" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Sign-up!</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/elegant-icons.css"
	th:href="@{/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" type="text/css">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/slicknav.min.css"
	th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/login.css"
	th:href="@{/css/login.css}" type="text/css">


</head>
<body>
<!-- Header Section Start -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Free shipping, 30-day return or refund guarantee.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
								<a href="#">Sign up</a> <a href="#">FAQs</a>
							</div>
							<div class="header__top__hover">
								<span>INR <i class="arrow_carrot-down"></i></span>
								<ul>
									<li>INR</li>
									<li>EUR</li>
									<li>USD</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="./index.html"><img th:src="@{/img/omclogo.png}"
							src="../static/img/omclogo.png"  width="auto" height="40"
							alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li class="active"><a href="./index.html">Home</a></li>
							<li><a href="./shop.html">Shop</a></li>
							<li><a href="#">Pages</a>
								<ul class="dropdown">
									<li><a href="./about.html">About Us</a></li>
									<li><a href="./shop-details.html">Shop Details</a></li>
									<li><a href="./shopping-cart.html">Shopping Cart</a></li>
									<li><a href="./checkout.html">Check Out</a></li>
									<li><a href="./blog-details.html">Blog Details</a></li>
								</ul></li>
							<li><a href="./contact.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img
							src="../static/../static/img/icon/search.png" th:src="@{/img/icon/search.png}" alt=""></a> <a
							href="#"><img src="../static/../static/img/icon/heart.png" th:src="@{/img/icon/heart.png}"
							alt=""></a> <a href="#"><img
							src="../static/../static/img/icon/cart.png" th:src="@{/img/icon/cart.png}" alt=""> <span>0</span></a>
						<div class="price">0.00</div>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Register Form start -->
	<div class="container-fluid ps-md-0">
		<div class="row g-0">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
								<h3 class="login-heading mb-4">Register to Book-ah!</h3>


								<form th:action="@{/register}" th:object="${user}" method="post">
									<div class="form-group">
										<label for="firstName">First Name</label> <input type="text"
											name="firstName" id="firstName" required
											placeholder="Your Firstname"
											class="form-control form-control-lg">
									</div>
									<div class="form-group">
										<label for="lastName">Last Name</label> <input type="text"
											name="lastName" id="lastName" required
											placeholder="Your Lastname"
											class="form-control form-control-lg">
									</div>
									<div class="form-group">
										<label for="email">Email address</label> <input type="email"
											class="form-control form-control-lg" required minlength="6"
											placeholder="Email" name="email" id="email"
											aria-describedby="emailHelp"> <small id="emailHelp"
											class="form-text text-muted">We'll never share your
											email with anyone else.</small>
									</div>
									<div class="form-group">
										<label for="password">Password</label> <input type="password"
											class="form-control form-control-lg" required
											placeholder="Password" name="password" id="password">
									</div>

									<input type="submit" value="Register"
										class="btn btn-primary btn-block"> <br> <span
										style="margin-top: 10px">Already have an account <a
										class="linkControl" href="./login.html" th:href="@{/login}">Login
											here</a></span>



									<div style="text-align: center;">
										<h5>OR</h5>

										<div>
											<a class="button primary" href="/oauth2/authorization/google">
												<img width="15px"
												style="margin-bottom: 3px; margin-right: 5px"
												alt="Google login"
												src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
												Sign in with Google
											</a>
										</div>
									</div>
								</form>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Register Form end -->

	<!-- Js Plugins -->
	<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
	<script src="../static/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}" ></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{/js/jquery.nicescroll.min.js}" ></script>
	<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}" ></script>
	<script src="../static/js/jquery.countdown.min.js" th:src="@{/js/jquery.countdown.min.js}" ></script>
	<script src="../static/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}"></script>
	<script src="../static/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}"></script>
	<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>