
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv=Content-Type content=text/html; charset=utf-8 />
<title>OMC-Shop</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" type="text/css">

<link rel="stylesheet" href="../static/css/elegant-icons.css"
	th:href="@{/css/elegant-icons.css}" type="text/css">

<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}" type="text/css">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" href="../static/css/owl.carousel.min.css"
	th:href="@{/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/slicknav.min.css"
	th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<!--	<div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__option">
			<div class="offcanvas__links">
				<a href="#">Sign in</a> <a href="#">FAQs</a>
			</div>
			<div class="offcanvas__top__hover">
				<span>INR <i class="arrow_carrot-down"></i></span>
				<ul>
					<li>INR</li>
					<li>EUR</li>
					<li>USD</li>
				</ul>
			</div>
		</div>
		<div class="offcanvas__nav__option">
			<a href="#" class="search-switch"><img
				src="../static/img/icon/search.png" alt=""></a> <a href="#"><img
				src="../static/img/icon/heart.png" alt=""></a> <a href="#"><img
				src="../static/img/icon/cart.png" alt=""> <span>0</span></a>
			<div class="price">₹0.00</div>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__text">
			<p>Free shipping, 30-day return or refund guarantee.</p>
		</div>
	</div>
	<!-- Offcanvas Menu End -->


	<!-- Header Section Begin -->
		<div th:replace="common::normalHeader"></div>
	<!-- Header Section End -->

	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-3">
				<div class="shop__sidebar">

					<div class="shop__sidebar__accordion">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseOne">Categories</a>
								</div>
								<div id="collapseOne" class="collapse show"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="shop__sidebar__categories">
											<ul class="nice-scroll" tabindex="1"
												style="overflow-y: hidden; outline: none;">
												<li><a href="#" th:href="@{/shop}">All Products</a></li>


												<a style="color: #b7b7b7;" 
													href="" th:each="category, iStat : ${categories}"
													th:href="@{/shop/category/{id}(id=${category.id})}">
													<li th:text="${category.name}"></li>
												</a>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 
			<h4>Categories</h4>
			<ul class="list-group">
				<a th:href="@{/shop}"><li class="list-group-item">All
						Products</li></a>
				<a href="" th:each="category, iStat : ${categories}"
					th:href="@{/shop/category/{id}(id=${category.id})}"><li
					class="list-group-item" th:text="${category.name}"></li></a>

			</ul> -->

			<div class="col-sm-9">



				<div class="row">
					<!-- 			<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="img/product/product-2.jpg"
								style="background-image: url(&quot;img/product/product-2.jpg&quot;);">
								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>Piqué Biker Jacket</h6>
								<a href="#" class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5>$67.24</h5>
								<div class="product__color__select">
									<label for="pc-4"> <input type="radio" id="pc-4">
									</label> <label class="active black" for="pc-5"> <input
										type="radio" id="pc-5">
									</label> <label class="grey" for="pc-6"> <input type="radio"
										id="pc-6">
									</label>
								</div>
							</div>
						</div>
					</div>
					 -->
					<div class="col-lg-4 col-md-6 col-sm-6"
						th:each="product : ${products}">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="img/product/product-2.jpg"
								th:data-setbg="@{${'/productImages/' + product.imageName}}"
								th:alt="${product.name}">
								<!-- th:style="background-image: url("@{${'/productImages/' + product.imageName}}")" -->

								<ul class="product__hover">
									<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="img/icon/compare.png" alt="">
											<span>Compare</span></a></li>
									<li><a href="#"
										th:href="@{/shop/viewproduct/{id}(id=${product.id})}"><img
											src="img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6 th:text="${product.name}"></h6>
								<a href="#" th:href="@{/addToCart/{id}(id = ${product.id})}"
									class="add-cart">+ Add To Cart</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5 th:text="${product.price}"></h5>
								<div class="product__color__select">
									<label for="pc-4"> <input type="radio" id="pc-4">
									</label> <label class="active black" for="pc-5"> <input
										type="radio" id="pc-5">
									</label> <label class="grey" for="pc-6"> <input type="radio"
										id="pc-6">
									</label>
								</div>
							</div>
						</div>
					</div>

				</div>


<div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>



				<!-- <div class="col-lg-4 col-md-6 col-sm-6" style="margin-top: 20px"
					th:each="product : ${products}">
					<div class="row no-gutters">
						<div class="col-sm-5 d-flex justify-content-center">
							<img class="" height="150px" width="150px"
								th:src="@{${'/productImages/' + product.imageName}}"
								th:alt="${product.name}">
						</div>
						<div class="col-sm-7 d-flex justify-content-center">
							<div class="card-body">
								<h5 class="card-title" th:text="${product.name}"></h5>
								<h4>
									₹ <span th:text="${product.price}"></span>
								</h4>
								<p th:text="${product.description}">Suresh Dasari is a
									founder and technical lead developer in tutlane.</p>
								<a href="#"
									th:href="@{/shop/viewproduct/{id}(id=${product.id})}"
									class="btn btn-primary">View Product</a>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	
	
	
	










	<!-- Footer Section Begin -->
	<div th:replace="common::normalFooter"></div>
	<!-- Footer Section End -->

	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search End -->

	<!-- Js Plugins -->
	<script src="../static/js/jquery-3.3.1.min.js"
		th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/jquery.nice-select.min.js"
		th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js"
		th:src="@{/js/jquery.nicescroll.min.js}"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"
		th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/jquery.countdown.min.js"
		th:src="@{/js/jquery.countdown.min.js}"></script>
	<script src="../static/js/jquery.slicknav.js"
		th:src="@{/js/jquery.slicknav.js}"></script>
	<script src="../static/js/mixitup.min.js"
		th:src="@{/js/mixitup.min.js}"></script>
	<script src="../static/js/owl.carousel.min.js"
		th:src="@{/js/owl.carousel.min.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</body>
</html>